
$green: #4cae4c;


html, body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  //overflow: hidden;
}

body {
  background-color: $green;
  margin: 0;
  padding: 0;
}



#streams_container {
  height: inherit;
  display: block;
  margin: 0;
  padding: 0;
  section {
    iframe {
      width: 100%;
      height: auto;
    }
    display: inline-flex;
    float: left;
    height: 50%;
    width: 50%;
    //background-color: #2aabd2;
  }
  #stream1 {
    background-color: #2aabd2;
  }
  #stream2 {
    background-color: #337ab7;
  }
  #stream3 {
    background-color: #b92c28;
  }
  #stream4 {
    background-color: #eb9316;
  }
}


#stream_chat_container {
  height: 100%;
  display: block;
  padding: 0;
  section {
    padding: 0;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
    //display: inline-flex;
    //float: left;
    //height: 50%;
    //width: 50%;
    //background-color: #2aabd2;
  }
}

#four_streams_with_chat_container {
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;

  #four_streams {
    margin: 0;
    padding: 0;
    //width: 70%;
    height: 100%;
    background-color: #eb9316;
    display: inline-block;
    float: left;
    section {
      iframe {
        width: 100%;
        height: auto;
      }
      display: inline-flex;
      float: left;
      height: 50%;
      width: 50%;
      //background-color: #2aabd2;
    }
  }
  #four_chat {
    margin: 0;
    float: left;
    //width: 30%;
    padding: 0;
    background-color: #2b669a;
    height: 100%;
    display: inline-block;
    section {
      padding: 0;
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}



#twelve_streams_container {
  padding: 0;
  #twelve_streams{
    height: inherit;
    display: block;
    margin: 0;
    padding: 0;
    section {
      iframe {
        width: 100%;
        height: auto;
      }
      display: inline-flex;
      float: left;
      height: 50%;
      width: 50%;
      //background-color: #2aabd2;
    }
    #stream1 {
      background-color: #2aabd2;
    }
    #stream2 {
      background-color: #337ab7;
    }
    #stream3 {
      background-color: #b92c28;
    }
    #stream4 {
      background-color: #eb9316;
    }
    #stream5 {
      background-color: #2aabd2;
    }
    #stream6 {
      background-color: #337ab7;
    }
    #stream7 {
      background-color: #b92c28;
    }
    #stream8 {
      background-color: #eb9316;
    }
    #stream9 {
      background-color: #2aabd2;
    }
    #stream10 {
      background-color: #337ab7;
    }
    #stream11 {
      background-color: #b92c28;
    }
    #stream12 {
      background-color: #eb9316;
    }
  }
}
