html, body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #4cae4c;
  margin: 0;
  padding: 0; }

#streams_container {
  height: inherit;
  display: block;
  margin: 0;
  padding: 0; }
  #streams_container section {
    display: inline-flex;
    float: left;
    height: 50%;
    width: 50%; }
    #streams_container section iframe {
      width: 100%;
      height: auto; }
  #streams_container #stream1 {
    background-color: #2aabd2; }
  #streams_container #stream2 {
    background-color: #337ab7; }
  #streams_container #stream3 {
    background-color: #b92c28; }
  #streams_container #stream4 {
    background-color: #eb9316; }

#stream_chat_container {
  height: 100%;
  display: block;
  padding: 0; }
  #stream_chat_container section {
    padding: 0;
    height: 100%; }
    #stream_chat_container section iframe {
      width: 100%;
      height: 100%; }

#four_streams_with_chat_container {
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%; }
  #four_streams_with_chat_container #four_streams {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #eb9316;
    display: inline-block;
    float: left; }
    #four_streams_with_chat_container #four_streams section {
      display: inline-flex;
      float: left;
      height: 50%;
      width: 50%; }
      #four_streams_with_chat_container #four_streams section iframe {
        width: 100%;
        height: auto; }
  #four_streams_with_chat_container #four_chat {
    margin: 0;
    float: left;
    padding: 0;
    background-color: #2b669a;
    height: 100%;
    display: inline-block; }
    #four_streams_with_chat_container #four_chat section {
      padding: 0;
      height: 100%; }
      #four_streams_with_chat_container #four_chat section iframe {
        width: 100%;
        height: 100%; }

#twelve_streams_container {
  padding: 0; }
  #twelve_streams_container #twelve_streams {
    height: inherit;
    display: block;
    margin: 0;
    padding: 0; }
    #twelve_streams_container #twelve_streams section {
      display: inline-flex;
      float: left;
      height: 50%;
      width: 50%; }
      #twelve_streams_container #twelve_streams section iframe {
        width: 100%;
        height: auto; }
    #twelve_streams_container #twelve_streams #stream1 {
      background-color: #2aabd2; }
    #twelve_streams_container #twelve_streams #stream2 {
      background-color: #337ab7; }
    #twelve_streams_container #twelve_streams #stream3 {
      background-color: #b92c28; }
    #twelve_streams_container #twelve_streams #stream4 {
      background-color: #eb9316; }
    #twelve_streams_container #twelve_streams #stream5 {
      background-color: #2aabd2; }
    #twelve_streams_container #twelve_streams #stream6 {
      background-color: #337ab7; }
    #twelve_streams_container #twelve_streams #stream7 {
      background-color: #b92c28; }
    #twelve_streams_container #twelve_streams #stream8 {
      background-color: #eb9316; }
    #twelve_streams_container #twelve_streams #stream9 {
      background-color: #2aabd2; }
    #twelve_streams_container #twelve_streams #stream10 {
      background-color: #337ab7; }
    #twelve_streams_container #twelve_streams #stream11 {
      background-color: #b92c28; }
    #twelve_streams_container #twelve_streams #stream12 {
      background-color: #eb9316; }

/*# sourceMappingURL=app.css.map */
